@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .card {
    padding: 1.25em;
  }
}

@supports (display: grid) {
  .main {
    display: grid;
  }
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}